h1 {
    color: #8a2be2;
    background-color: #ffde59;
    margin: 25px;
    border-width: 18px;
    border-color: #3a75c4;
    border-style: ridge;
    padding: 22px;
    text-align: center;
    
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: 
    "wdth" 110,
    "GRAD" 10;    
    border-radius: 45%;
}

img {
    width: 420px;
    border-radius: 45%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}